<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Car Plus - Version 6.09</display-name>
  <servlet>
    <servlet-name>CancellaAbbonamento</servlet-name>
    <servlet-class>Servlet.CancellaAbbonamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaAbbonamento</servlet-name>
    <url-pattern>/CancellaAbbonamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaCliente</servlet-name>
    <servlet-class>Servlet.CancellaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaCliente</servlet-name>
    <url-pattern>/CancellaCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaContratto</servlet-name>
    <servlet-class>Servlet.CancellaContratto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaContratto</servlet-name>
    <url-pattern>/CancellaContratto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaLocalita</servlet-name>
    <servlet-class>Servlet.CancellaLocalita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaLocalita</servlet-name>
    <url-pattern>/CancellaLocalita</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaMacchinaCS</servlet-name>
    <servlet-class>Servlet.CancellaMacchinaCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaMacchinaCS</servlet-name>
    <url-pattern>/CancellaMacchinaCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaModelloMacchina</servlet-name>
    <servlet-class>Servlet.CancellaModelloMacchina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaModelloMacchina</servlet-name>
    <url-pattern>/CancellaModelloMacchina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaStazioneCS</servlet-name>
    <servlet-class>Servlet.CancellaStazioneCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaStazioneCS</servlet-name>
    <url-pattern>/CancellaStazioneCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancellaUtente</servlet-name>
    <servlet-class>Servlet.CancellaUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellaUtente</servlet-name>
    <url-pattern>/CancellaUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComputerDiBordo</servlet-name>
    <servlet-class>Servlet.ComputerDiBordo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerDiBordo</servlet-name>
    <url-pattern>/ComputerDiBordo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Get_citta</servlet-name>
    <servlet-class>Servlet.Get_citta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_citta</servlet-name>
    <url-pattern>/Get_citta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCittaAJAX</servlet-name>
    <servlet-class>Servlet.GetCittaAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCittaAJAX</servlet-name>
    <url-pattern>/GetCittaAJAX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Get_stazione</servlet-name>
    <servlet-class>Servlet.Get_stazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_stazione</servlet-name>
    <url-pattern>/Get_stazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_abbonamento</servlet-name>
    <servlet-class>Servlet.Inserimento_abbonamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_abbonamento</servlet-name>
    <url-pattern>/Inserimento_abbonamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_cliente</servlet-name>
    <servlet-class>Servlet.Inserimento_cliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_cliente</servlet-name>
    <url-pattern>/Inserimento_cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_contratto</servlet-name>
    <servlet-class>Servlet.Inserimento_contratto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_contratto</servlet-name>
    <url-pattern>/Inserimento_contratto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_localita</servlet-name>
    <servlet-class>Servlet.Inserimento_localita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_localita</servlet-name>
    <url-pattern>/Inserimento_localita</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_macchina_cs</servlet-name>
    <servlet-class>Servlet.Inserimento_macchina_cs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_macchina_cs</servlet-name>
    <url-pattern>/Inserimento_macchina_cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_modello_macchina</servlet-name>
    <servlet-class>Servlet.Inserimento_modello_macchina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_modello_macchina</servlet-name>
    <url-pattern>/Inserimento_modello_macchina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_partecipazione</servlet-name>
    <servlet-class>Servlet.Inserimento_partecipazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_partecipazione</servlet-name>
    <url-pattern>/Inserimento_partecipazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_solo_targa</servlet-name>
    <servlet-class>Servlet.Inserimento_solo_targa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_solo_targa</servlet-name>
    <url-pattern>/Inserimento_solo_targa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_stazione_cs</servlet-name>
    <servlet-class>Servlet.Inserimento_stazione_cs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_stazione_cs</servlet-name>
    <url-pattern>/Inserimento_stazione_cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_targa_e_modello</servlet-name>
    <servlet-class>Servlet.Inserimento_targa_e_modello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_targa_e_modello</servlet-name>
    <url-pattern>/Inserimento_targa_e_modello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_tessera</servlet-name>
    <servlet-class>Servlet.Inserimento_tessera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_tessera</servlet-name>
    <url-pattern>/Inserimento_tessera</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_tragitto_cp</servlet-name>
    <servlet-class>Servlet.Inserimento_tragitto_cp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_tragitto_cp</servlet-name>
    <url-pattern>/Inserimento_tragitto_cp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_tragitto_cs_check</servlet-name>
    <servlet-class>Servlet.Inserimento_tragitto_cs_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_tragitto_cs_check</servlet-name>
    <url-pattern>/Inserimento_tragitto_cs_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_tragitto_cs</servlet-name>
    <servlet-class>Servlet.Inserimento_tragitto_cs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_tragitto_cs</servlet-name>
    <url-pattern>/Inserimento_tragitto_cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Paga</servlet-name>
    <servlet-class>Servlet.Paga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paga</servlet-name>
    <url-pattern>/Paga</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pagamenti</servlet-name>
    <servlet-class>Servlet.Pagamenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagamenti</servlet-name>
    <url-pattern>/Pagamenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrazioneUtente</servlet-name>
    <servlet-class>Servlet.RegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneUtente</servlet-name>
    <url-pattern>/RegistrazioneUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RicercaTragitto_CP</servlet-name>
    <servlet-class>Servlet.RicercaTragitto_CP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaTragitto_CP</servlet-name>
    <url-pattern>/RicercaTragitto_CP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAbbonamento</servlet-name>
    <servlet-class>Servlet.UpdateAbbonamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAbbonamento</servlet-name>
    <url-pattern>/UpdateAbbonamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCliente</servlet-name>
    <servlet-class>Servlet.UpdateCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCliente</servlet-name>
    <url-pattern>/UpdateCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateContratto</servlet-name>
    <servlet-class>Servlet.UpdateContratto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContratto</servlet-name>
    <url-pattern>/UpdateContratto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateLocalita</servlet-name>
    <servlet-class>Servlet.UpdateLocalita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocalita</servlet-name>
    <url-pattern>/UpdateLocalita</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMacchinaCS</servlet-name>
    <servlet-class>Servlet.UpdateMacchinaCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMacchinaCS</servlet-name>
    <url-pattern>/UpdateMacchinaCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateModelloMacchina</servlet-name>
    <servlet-class>Servlet.UpdateModelloMacchina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModelloMacchina</servlet-name>
    <url-pattern>/UpdateModelloMacchina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStazioneCS</servlet-name>
    <servlet-class>Servlet.UpdateStazioneCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStazioneCS</servlet-name>
    <url-pattern>/UpdateStazioneCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUtente</servlet-name>
    <servlet-class>Servlet.UpdateUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUtente</servlet-name>
    <url-pattern>/UpdateUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vista_tragitti_cliente</servlet-name>
    <servlet-class>Servlet.Vista_tragitti_cliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vista_tragitti_cliente</servlet-name>
    <url-pattern>/Vista_tragitti_cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vista_tragitti_contratto</servlet-name>
    <servlet-class>Servlet.Vista_tragitti_contratto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vista_tragitti_contratto</servlet-name>
    <url-pattern>/Vista_tragitti_contratto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vista_tragitti_tessera</servlet-name>
    <servlet-class>Servlet.Vista_tragitti_tessera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vista_tragitti_tessera</servlet-name>
    <url-pattern>/Vista_tragitti_tessera</url-pattern>
  </servlet-mapping>
</web-app>