<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Inserimento_macchina_cs</servlet-name>
    <servlet-class>Servlet.Inserimento_macchina_cs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_macchina_cs</servlet-name>
    <url-pattern>/Inserimento_macchina_cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inserimento_stazione_cs</servlet-name>
    <servlet-class>Servlet.Inserimento_stazione_cs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_stazione_cs</servlet-name>
    <url-pattern>/Inserimento_stazione_cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrazioneUtente</servlet-name>
    <servlet-class>Servlet.RegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneUtente</servlet-name>
    <url-pattern>/RegistrazioneUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RicercaTragitto_CP</servlet-name>
    <servlet-class>Servlet.RicercaTragitto_CP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaTragitto_CP</servlet-name>
    <url-pattern>/RicercaTragitto_CP</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Inserimento_abbonamento</servlet-name>
    <servlet-class>Servlet.Inserimento_abbonamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inserimento_abbonamento</servlet-name>
    <url-pattern>/Inserimento_abbonamento</url-pattern>
  </servlet-mapping>
</web-app>