@charset "UTF-8";
/* css for account-type in user:home */
#account-type
{
	color: gray;
    float: right;
    font-size: 80%;
    font-style: italic;
    padding-right: 55px;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 19px;
}

h3 {
	font-size: 15px;
}

/*******************************************/
/*******************HEADER******************/
/*******************************************/
div#header {
	width: 100%;
	background-color: rgba(245,243,243,1);
	background-image: url(../img/header_bg.png);
	background-repeat: repeat-x;
	height: 80px;
	box-shadow: 0px 3px 5px rgba(129,129,129, 0.75);
	margin-bottom: 5px;
	z-index: 99999;
}

div#header > ul {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
    padding: 0;
	list-style: none;
	width: 960px;
    height: 100%;
}

div#header > ul li {
	float:left;
}


div#header > ul li:not(:first-child):hover {
	background-color: rgb(52, 81, 0);
	box-shadow: 0px 0px 20px rgba(0,0,0, 0.75) inset;
	cursor: pointer;
}
div#header > ul li:not(:first-child):hover:after{
	background-image:none;
}
div#header > ul li:not(:first-child):hover:before {
	background-image: none;
}
div#header > ul li a {
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.75);
	height: 80px;
	line-height: 80px;
	padding-left: 20px;
	padding-right: 20px;
	
}

div#header > ul li:first-child{
	margin-right: 0px;
}


div#header > ul li:first-child:after {
	content:'';
	height: 80px;
	width: 1px;
	background-image: url(../img/light_separator.png);
	float: right;
}

div#header > ul li:not(:first-child):before {
	content:'';
	height: 80px;
	width: 1px;
	background-image: url(../img/dark_separator.png);
	float: left;
}

div#header > ul li:not(:first-child):after {
	content:'';
	height: 80px;
	width: 1px;
	background-image: url(../img/light_separator.png);
	float: right;
}
div#header > ul li img{
	margin:0;
	padding:0;
}

/*******************************************/
/*******************CONTENT*****************/
/*******************************************/

div#content {
	width: 100%;
	background-color: rgba(245,243,243,1);
	border-bottom: 1px solid #A1A1A1;
	padding-top: 40px;
	padding-bottom: 40px;
}

div.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	height: 100%;
}

div#content div#announce {
	width: 100%;
	height: 330px;
	padding:0;
	background-image: url(../img/announce.png);
	background-repeat:no-repeat;
}

div#content div#about {
	background-image: url("../img/announce.png");
    background-position: -520px 50%;
    background-repeat: no-repeat;
    float: right;
    height: 330px;
    width: 437px;
}

div#content div#actions {
	margin-top: 35px;
	padding-left: 150px;
	padding-right: 150px;
	display: 
}

div#content div#search {
	width: 295px;
	height: 223px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin-right: 35px;
}

div#content div#account {
	width: 295px;
	height: 223px;
	background-image: url(../img/account.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin-right: 35px;
}

div#content div#insert {
	width: 295px;
	height: 223px;
	background-image: url(../img/insert.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float:left;
	margin-left: 35px;
}

div#content div#insert:hover, div#content div#search:hover, div#content div#account:hover {
	background-position: 0px -223px;
	cursor: pointer;
}

/*******************************************/
/*******************FOOTER******************/
/*******************************************/

div#footer {
	width: 100%;
	background-color: #FFFFFF;
	height: 100px;
	background: url(../img/content_box_shadow.png) center top no-repeat;
}

/*******************************************/
/*****************SEARCH FORM***************/
/*******************************************/

form#search ul {
	list-style: none;
	background-color: rgb(255, 255, 250);
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -20px;
	border-radius: 20px;
	padding-bottom: 20px;
	border: 1px solid #ECECEC;
}

form#search ul li {
	margin: 10px 0px;
	padding: 0;
}

form#search ul li:not(:first-child) {
	margin: 20px 0px;
	padding: 0;
}

form#search ul li:first-child {
	margin-bottom: 80px;
	border-bottom: 1px inset #7dc500;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 25px;
	border-radius: 20px 20px 0px 0px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 0px;
	background: -moz-linear-gradient(top,#7dc500,#619801) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#7dc500), to(#619801)) no-repeat;
	color: #FFFFFF;
	box-shadow: 0px 3px 0px rgba(255, 255, 255, .25) inset;
	text-shadow: 1px 1px 2px #333;
}

form#search ul li#change > img {
	position: relative;
	left: 900px;
}

form#search ul li#change > img:hover {
	cursor: pointer;
}

form#search ul li#change {
	display: block;
	margin-bottom: -105px;
}

form#search ul li > input:focus {
	outline: none;
	box-shadow:  0px 0px 10px #7dc500;
}

form#search ul li > label {
	display: inline-block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-right: 15px;
	width: 75px;
	text-align: right;
	font-weight: bold;
}

form#search ul li > input[type = text] {
	width: 80%;
}

form#search ul li > input[type = checkbox] {
	margin: 0px 0px 0px 20px;
	padding: 0;
	width: 20px;
	height: 20px;
	background: -moz-linear-gradient(top,#f5f5f5,#FFFFFF) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#FFFFFF)) no-repeat;
}

form#search ul li > input#date {
	width:11%;
}

form#search ul li > input#people {
	width:5%;
	text-align: center;
}

form#search ul li > button#submit {
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	margin-left: 90px;
	background: -moz-linear-gradient(top,#7dc500,#619801) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#7dc500), to(#619801)) no-repeat;
	border: 1px solid #466e00;
	box-shadow: 0px 2px 0px #c3ff5a inset;
	text-shadow: 1px 1px 2px #333;
	cursor: pointer;
	color: #FFFFFF;
	
}

form#search ul li > button#submit:hover {
	opacity: .85;
}

form#search ul li > button#submit:active {
	box-shadow: 2px 2px 2px #466e00 inset;
	background-color: #304c00;
}

/*******************************************/
/**************TABLE TRIP LIST**************/
/*******************************************/
table, th, tr, td {
	border-collapse: collapse;
	border: 1px solid #d5d5d5;
}

table {
	width: 100%;
	margin-top: 30px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table tr:first-child {
	background: rgb(205,235,142); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWM5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-8 */

}

table tr:not(:first-child) {
	font-size: 14px;
	text-align: center;
}

table tr:not(:first-child):nth-child(even) {
	background-color: #FFFFFF;
}

table tr:not(:first-child):nth-child(odd) {
	background-color: #E1E1E1;
}

table tr:not(:first-child):hover {
	background-color: #e3ffb2;
}

table td {
	padding: 10px;
}

table th {
	font-size: 12px;
	padding: 5px;
	font-weight:bold;
	text-align: center;
}

table tr > th:first-child,  table tr > td:first-child{
	width: 10%;
}

table tr > th.from, table tr > th.to, table tr > td.from, table tr > td.to {
	width: 35%;
}

table tr > th.date, table tr > td.date {
	width: 15%;
}

table tr > th.free, table tr > td.free {
	width: 5%;
}

th#th_tools {
    		width: 85px;
}

/*******************************************/
/****************** INPUT ******************/
/*******************************************/

form input[type = text], form input[type = password] {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 10px;
	width: 680px;
	height: auto;
	margin: 0px 0px 0px 10px;
	border-radius: 10px;
	background: rgb(234,234,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	border: 1px solid #919191;
}

form label {
	margin-left: 10px;
	font-weight: bold;
	text-align: right;
	width: 200px;
	display: block;
	float: left;
	line-height: 45px;
}

form input.error {
	box-shadow: 0px 0px 10px #F00;
}

form input:focus {
	outline: none;
	box-shadow:  0px 0px 10px #7dc500;
}

form input[type = radio] {
	padding: 10px;
	margin-left: 20px;
	margin-right: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

form textarea {
	border-radius: 10px;
	background: rgb(234,234,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

	border: 1px solid #919191;
	padding: 10px;
	font-size: 14px;
	margin-left: 10px;
}

form button[type = submit], a.no_button {
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	background: -moz-linear-gradient(top,#7dc500,#619801) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#7dc500), to(#619801)) no-repeat;
	border: 1px solid #466e00;
	box-shadow: 0px 2px 0px #c3ff5a inset;
	text-shadow: 1px 1px 2px #333;
	cursor: pointer;
	color: #FFFFFF;
	margin: 10px;
	text-decoration: none;
}

form button[type = submit]:hover, a.no_button:hover {
	opacity: .85;
}

form button[type = submit]:active, , a.no_button:active {
	box-shadow: 2px 2px 2px #466e00 inset;
	background-color: #304c00;
}

form select {
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
}

form fieldset {
	border: 1px solid #d1d1d1;
    border-radius: 5px;
    background: none;
}
form fieldset:not(:first-child) {
	margin-top: 25px;
}

form fieldset > legend {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
div#radio {
	margin-left: 220px;
}
div#radio label {
	width: auto;
}

/*******************************************/
/***************** FORM LIST ***************/
/*******************************************/

form#login input {
	width: 90%;
}

/*******************************************/
/***************** FORM LIST ***************/
/*******************************************/

form ul {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 5px;
	padding: 0;
}

form ul li {
	padding: 10px;
}

form ul li:not(:first-child) {
	padding: 10px 10px;
}

form ul li:first-child {
	margin-bottom: 20px;
	background:none;
	border-bottom: 1px solid #6E6E6E;
	text-shadow: 1px 1px 2px #E5E5E5;
	color: #333;
}

/*******************************************/
/******************LOGIN FORM***************/
/*******************************************/

form#login ul {
	width: 400px;
}

/*******************************************/
/*************REGISTRATION FORM*************/
/*******************************************/


/*******************************************/
/***********NEW CAR SHARING FORM************/
/*******************************************/


/*******************************************/
/*********NEW CAR SHARING CAR FORM**********/
/*******************************************/


/*******************************************/
/***************NEW LOCATION****************/
/*******************************************/


/*******************************************/
/*************NEW SUBSCRIPTION**************/
/*******************************************/


/*******************************************/
/************** NEW CUSTOMER ***************/
/*******************************************/

.hide {
    display: none;
}

ul#customer_type_navigation {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
    list-style: none;
    
    width: 100%;
    padding: 0;
}

ul#customer_type_navigation li {
    padding: 10px;
    display: inline-block;
}

ul#customer_type_navigation li.selected {
    background-color: #fefefe;
}

ul#customer_type_navigation li.random {
    background-color: #d3fa8b;
}

ul#customer_type_navigation li:hover {
    background-color: #7dc500;
    cursor:pointer;
}

/*******************************************/
/*************NEW CAR MODEL*****************/
/*******************************************/


/*******************************************/
/**************NEW TRAGITTO CP**************/
/*******************************************/

/*******************************************/
/************ ADMIN NAVIGATION *************/
/*******************************************/

ul#admin_navigation {
    		list-style: none;
    		width: 320px;
    		margin-top: 15px;
    		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    	}
    	
    	ul#admin_navigation ul {
    		list-style: none;
    		position: relative;
    		z-index: 9999;
    		display: none;
    		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5), 0px 0px 10px 0px rgba(0,0,0,.13);
		    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5), 0px 0px 10px 0px rgba(0,0,0,.13);
		    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5), 0px 0px 10px 0px rgba(0,0,0,.13);
    	}
    	ul#admin_navigation > li {
    		display: block;
    		height: 41px;
    	}
    	ul#admin_navigation > li > a {
			width: 100%;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #33373d;
			text-shadow: 0px 1px 0px rgba(0,0,0,.5);
			display:block;
			position: relative;
			text-decoration: none;
			color: #fafafa;
			text-indent: 15px;
			font-weight: 600;
    		background: rgb(191,210,85); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */
    	}
    	
    	ul#admin_navigation > li > a:hover, ul#admin_navigation > li > a.active {
    		background: rgb(230,240,163); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZjBhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2QyZTYzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2MzZDgyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmYwNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-8 */
    		
    	}
    	
    	ul#admin_navigation ul > li {
    		
    	}
    	
    	ul#admin_navigation ul > li a {
    		text-indent: 45px;
    		color: #000;
    		text-decoration: none;
    		background: #FFF;
    		border-bottom: 1px solid #efeff0;
    		height: 35px;
    		line-height: 35px;
    		display: block;
    		position: relative;
    		width: 100%;
    	}
    	
    	ul#admin_navigation ul > li a:hover, ul#admin_navigation ul > li a.active {
    		background: rgb(214,238,166); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZWVhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmVlYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(214,238,166,1) 0%, rgba(214,238,166,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,238,166,1)), color-stop(100%,rgba(214,238,166,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(214,238,166,1) 0%,rgba(214,238,166,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(214,238,166,1) 0%,rgba(214,238,166,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(214,238,166,1) 0%,rgba(214,238,166,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(214,238,166,1) 0%,rgba(214,238,166,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6eea6', endColorstr='#d6eea6',GradientType=0 ); /* IE6-8 */
    		
    	} 
    	
    	ul#admin_navigation ul {
    		border: 1px solid #eaeaea;
    	}
    	
    	
    	ul#admin_navigation ul > li a.inserisci:before {
    		content: '';
    		width: 16px;
    		height: 16px;
    		background: url(../img/ic_plus.png) no-repeat;
    		position: absolute;
    		float: left;
    		left: 15px;
    		top: 8px;
    	}
    	
    	ul#admin_navigation ul > li a.modifica:before {
    		content: '';
    		width: 16px;
    		height: 16px;
    		background: url(../img/ic_edit.png) no-repeat;
    		position: absolute;
    		float: left;
    		left: 15px;
    		top: 8px;
    	}
    	
    	ul#admin_navigation ul > li a.cancella:before {
    		content: '';
    		width: 16px;
    		height: 16px;
    		background: url(../img/ic_cancel.png) no-repeat;
    		position: absolute;
    		float: left;
    		left: 15px;
    		top: 8px;
    	}
    	
    	ul#admin_navigation ul > li a.visualizza:before {
    		content: '';
    		width: 16px;
    		height: 16px;
    		background: url(../img/ic_zoom.png) no-repeat;
    		position: absolute;
    		float: left;
    		left: 15px;
    		top: 8px;
    	}
    	
    	ul#admin_navigation ul:before {
    		content: '';
    		width: 16px;
    		height: 32px;
    		float: left;
    		margin-left: -16px;
    		margin-top: 3px;
    		z-index: 999999;
    		display: block;
    		position: relative;
  			background: url(../img/admin_sub_nav_ind.png);
    	}
    	
/*******************************************/
/************* USER NAVIGATION *************/
/*******************************************/

ul#user_navigation {
    		width: 100%;
    		paddin: 0;
    		margin: 10px 0;
    	}
    	
    	ul#user_navigation li {
    		width: 150px;
    		height: 75px;
    		margin: 5px;
    		padding: 10px;
    		list-style: none;
    		display: block;
    		float: left;
    		background: rgb(238,238,238); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
			
			border: 1px solid #909090;
			box-shadow: 0px 0px 5px #CCC inset;

    		
    		border-radius: 10px;
    		
    		overflow: hidden;
    	}
    	ul#user_navigation a {
	    	color: #000;
	    	text-decoration: none;
	    }
    	ul#user_navigation li > h1 {
    		width: 100%;
    		font-size: 17px;
    		text-align: center;
    		text-shadow: 0px 1px 3px #bababa;
    	}
    	
    	ul#user_navigation li > img {
    		position: relative;
    		bottom: -75px;
    		margin-left: 22px;
    		padding: 0;
    		width: 100px;
    		height: 100px;
    	}

    	
/*******************************************/
/************* TRIP DESCRIPTION ************/
/*******************************************/

ul#description {
	list-style: none;
	width: 100%;
}

ul#description li {
	margin: 15px;
	padding: 5px;
	border-bottom: 1px solid #aeaeae; 
}

ul#description li > span.label {
	width: 150px;
	font-weight: bold;
	margin-right: 5px;
	height: 100%;
	font-size: 18px;
}

ul#description li:first-child {
	border-bottom: 2px solid #909090; 
}

/*******************************************/
/************* CAR MODEL EXISTS ************/
/*******************************************/

ul#solo_targa_o_anche_modello_navigation {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
    list-style: none;
    
    width: 100%;
    padding: 0;
}

ul#solo_targa_o_anche_modello_navigation li {
    padding: 10px;
    display: inline-block;
}

ul#solo_targa_o_anche_modello_navigation li.selected {
    background-color: #fefefe;
}

ul#solo_targa_o_anche_modello_navigation li.random {
    background-color: #d3fa8b;
}

ul#solo_targa_o_anche_modello_navigation li:hover {
    background-color: #7dc500;
    cursor:pointer;
}

ul#tools {
    list-style: none;
}

ul#tools li {
	float: left;
	background: rgb(182,224,38); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I2ZTAyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmRjMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(182,224,38,1) 0%, rgba(171,220,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,224,38,1)), color-stop(100%,rgba(171,220,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(182,224,38,1) 0%,rgba(171,220,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 ); /* IE6-8 */
	 		
	border-left: 1px solid #88A300;
	border-top: 1px solid #88A300;
	border-bottom: 1px solid #88A300;
}
		 	
		 	ul#tools li:first-child {
		 		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		 	}
		 	
		 	ul#tools li:last-child {
		 		border-right: 1px solid #88A300;
		 		
		 		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		 	}
		 	
		 	ul#tools li a {
		 		padding: 10px;
		 		text-align: center;
		 		line-height: 26px;
		 		height: 26px;
		 	}
		 	
		 	ul#tools li:hover {
		 		background: rgb(205,235,139); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWI4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGViOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(205,235,139,1) 0%, rgba(205,235,139,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(205,235,139,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-8 */
		
			}
			
			ul#tools img {
				margin: 8px 0px 0px 0px;
				padding: 0;
			}